---

---

<div class="wrapper">
  <p class="info">
    inspired by <a
      class="info__link"
      href="https://typefully.com/DanHollick/blending-modes-KrBa0JP"
      >Blending Modes Dan Hollick</a
    >
  </p>
</div>

<style>
  .info {
    color: var(--black, #1b1b1b);
    font-family: Patrick Hand;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    margin-block-end: 20px;
    text-transform: uppercase;
    text-align: center;
    & .info__link {
      color: #ffc300;
      border-bottom: 2px solid #1b1b1b;
    }
  }
</style>
